#gitalk-container
  .gt-comment-content
    background-color: card-background-color !important
    border-radius: 4px !important

  .gt-header-textarea
    &:hover
      background-color: card-background-color !important
      box-shadow: 0 1px 2px rgba(0,0,0,0.16), 0 1px 2px rgba(0,0,0,0.23) !important
      border: none !important

  .gt-container.gt-input-focused::after
    background-color: transparent !important
    opacity: 0 !important
    z-index: 0 !important
