#footer
  box-sizing: border-box
  height: footer-height
  margin-top: 20px
  background: darken(main-background-color, 2%)
  line-height: line-height
  font-size: 0.9rem
  text-align: center
  padding-top: 60px

  a
    color: card-highlight-color
    text-decoration: none

    &:hover
      text-decoration: underline
