#header
  height: header-height
  width: 100%

#header-inner
  width: inherit
  height: inherit
  box-sizing: border-box
  padding: 0 1rem

.post-header
  #header-inner
    position: fixed
    top: 0
    z-index: 21
    background-color: main-background-color
    box-shadow: 0 0.1rem 0.4rem 0 rgba(0, 0, 0, .2)
    opacity: 0.9
    backdrop-filter: blur(20px)
    transition: top 0.6s ease-in-out

  a
    color: card-title-color

.index-header
  height: auto !important

  #header-inner
    position: absolute
    top: 0

.header-up
  top: -(header-height) !important
  box-shadow: none !important

$nav-link
  float: left
  color: card-background-color
  text-decoration: none
  transition: opacity 0.2s
  display: block
  padding: 20px 15px
  &:hover
    opacity: 0.6

.nav-icon
  @extend $nav-link
  font-family: font-icon
  text-align: center
  font-size: font-size
  width: font-size
  height: font-size
  padding: 20px 15px
  position: relative
  cursor: pointer

#main-nav
  float: left

.main-nav-link
  @extend $nav-link
  font-weight: bold
  letter-spacing: 1px
  @media mq-mobile
    display: none

#main-nav-toggle
  display: none
  &:before
    content: "\f0c9"
  @media mq-mobile
    display: block

#sub-nav
  float: right

#nav-search-btn
  &:before
    content: "\f002"

#search-form-wrap
  position: absolute
  top: 15px
  right: 150px
  width: 150px
  height: 30px
  visibility: hidden
  transition: 0.4s ease-out
  &.on
    visibility: visible
    right: 1rem
  @media mq-mobile
    width: 90%

.search-form
  position: absolute
  top: 0
  left: 0
  right: 0
  background: #fff
  padding: 5px 15px
  border-radius: 15px
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3)

.search-form-input
  border: none
  background: none
  color: color-default
  width: 100%
  font: 13px font-sans
  outline: none
  &::-webkit-search-results-decoration
  &::-webkit-search-cancel-button
    -webkit-appearance: none

.search-form-submit
  position: absolute
  top: 50%
  right: 10px
  margin-top: -7px
  font: 13px font-icon
  border: none
  background: none
  color: #bbb
  cursor: pointer
  &:hover, &:focus
    color: #777
