.pagination
  clearfix()

  .newer-posts
  .older-posts
    display: inline-block
    padding: 15px 25px
    text-decoration: none
    border: 1px solid #ddd
    color: card-title-color
    font-weight: bold

    &:hover
      background: card-highlight-color
      color: #fff

  .newer-posts
    float: left

  .older-posts
    float: right

@media mq-mobile
  .pagination
    .newer-posts
    .older-posts
      padding: 0
      border: 0

      &:hover
        background: none
