.archives-wrap
  margin: block-margin 0

.archives
  clearfix()

.archive-year-wrap
  margin-bottom: 1rem

.archive-year
  @extend $block-caption
  font-weight: bold

.archives
  column-gap: 10px
  @media mq-tablet
    column-count: 2
  @media mq-normal
    column-count: 3

.archive-article
  avoid-column-break()

.archive-article-inner
  @extend $block
  padding: 10px
  margin-bottom: 15px

  &:hover
    box-shadow: 0 5px 15px -10px #000
    transform: translateY(4px)

.archive-article-title
  text-decoration: none
  color: card-text-color
  transition: color 0.2s
  line-height: line-height
  &:hover
    color: card-highlight-color

.archive-article-date
  color: card-date-color
  text-decoration: none
  font-size: 0.85rem
  line-height: 1rem
  margin-bottom: 0.5rem
  display: block
