#post-like
  .container
    position: relative
    padding: 12px 16px
    margin: 0 24px

  .like-icon
    &:before
      font-family: font-icon
      content: "\f087"
      font-size: 2rem
      color: link-color

    &:hover
      cursor: pointer
      opacity: 0.8

  #like-count
    position: absolute
    right: 40%
    font-size: 1.2rem
    line-height: 2rem
    color: card-text-color
    font-weight: lighter
