#post-like
  .container
    padding: 30px

  .like-icon
    &:before
      font-family: font-icon
      content: "\f087"
      font-size: 2rem
      color: link-color

    &:hover
      cursor: pointer
      opacity: 0.8

