#article-nav
  @extend $base-style
  clearfix()
  @media mq-normal
    margin: block-margin 0

.article-nav-link-wrap
  text-decoration: none
  margin-top: block-margin
  text-align: center
  display: block
  @media mq-normal
    width: 50%
    margin-top: 0

#article-nav-newer
  @media mq-normal
    float: left

#article-nav-older
  @media mq-normal
    float: right

.article-nav-caption
  text-transform: uppercase
  letter-spacing: 1px

.article-nav-title
  color: color-grey
  margin-top: 0.5rem
  &:hover
    text-decoration: underline
