.article-share-links a
  color: color-grey

$article-share-link
  margin-right: 1.6rem
  display: inline-block
  &:before
    font-size: 1.5rem
    font-family: font-icon

.article-share-twitter
  @extend $article-share-link
  &:before
    content: "\f099"
  &:hover
    color: color-twitter

.article-share-facebook
  @extend $article-share-link
  &:before
    content: "\f09a"
  &:hover
    color: color-facebook

.article-share-pinterest
  @extend $article-share-link
  &:before
    content: "\f0d2"
  &:hover
    color: color-pinterest

.article-share-linkedin
  @extend $article-share-link
  &:before
    content: "\f0e1"
  &:hover
    color: color-linkedin
