<div id="cover">
  <div id="banner"></div>
  <div id="header-title" class="inner">
    <h1 id="logo"><%= config.title %></h1>
    <% if (theme.subtitle){ %>
      <h2 id="subtitle"><%= theme.subtitle %></h2>
    <% } %>
  </div>
</div>