<%
var banners = theme.banner;
var randomBanner = banners[Math.floor(Math.random() * banners.length)];
var bannerStyle = "background-image: url(" + randomBanner + ");";
%>

<div id="cover">
  <div id="banner" style="<%= bannerStyle %>"></div>
  <div id="header-title" class="inner">
    <h1 id="logo"><%= config.title %></h1>
    <% if (theme.subtitle){ %>
      <h2 id="subtitle"><%= theme.subtitle %></h2>
    <% } %>
  </div>
</div>