<%- partial('commons/cover') %>
<div class="outer">
  <section id="main">
    <section class="categories-wrap">
      <h3 class="categories-title"><%= __('category') %></h3>
      <%- list_categories() %>
    </section>
  </section>
</div>