<div class="post-outer">
  <section class="post-toc">
    <%- partial('commons/toc', {post: page}) %>
  </section>
  <section class="post-main">
    <%- partial('commons/article', {post: page, index: false}) %>
    <% if (theme.gitalk.on){ %>
      <%- partial('/includes/gitalk') %>
    <% } %>
  </section>
  <section class="post-sidebar">
    <%- partial('commons/sidebar', null, {cache: !config.relative_link}) %>
  </section>
</div>
