// Config
support-for-ie = false
vendor-prefixes = webkit moz ms official

color-mobile-nav-background = #191919
color-twitter = #00aced
color-facebook = #3b5998
color-pinterest = #cb2027
color-linkedin = #0077B5

// Fonts
font-sans = -apple-system, system-ui, BlinkMacSystemFont,
  "Segoe UI", Roboto, "Helvetica Neue",
  Arial, sans-serif
font-serif = Georgia, "Times New Roman", serif
font-mono = Consolas, Monaco, Menlo, Consolas, monospace
font-icon = FontAwesome
font-size = 16px
line-height = 1.5rem

// Header
logo-size = 60px
subtitle-size = 16px
header-height = 60px
cover-height = 500px

// Footer
footer-height = 150px

// Card
main-background-color = #f2f7f5
card-background-color = #fffffe
card-title-color = #00473e
card-text-color = #475d5b
card-highlight-color = #faae2b
card-date-color = #d8779a

// Code
code-background-color = #f9f2f4
code-text-color = #fa5246

// link
link-color = #a1afc9

grey-color = #ddd

// Layout
block-margin = 50px
article-padding = 20px
mobile-nav-width = 280px

// Media queries
mq-mobile = "screen and (max-width: 479px)"
mq-tablet = "screen and (min-width: 480px) and (max-width: 767px)"
mq-normal = "screen and (min-width: 768px)"
