// Config
support-for-ie = false
vendor-prefixes = webkit moz ms official

color-twitter = #00aced
color-facebook = #3b5998
color-pinterest = #cb2027
color-linkedin = #0077b5
color-grey = darkgray

// Fonts
font-sans = -apple-system, system-ui, BlinkMacSystemFont,
  "Segoe UI", Roboto, "Helvetica Neue",
  Arial, sans-serif
font-serif = Georgia, "Times New Roman", serif
font-mono = Consolas, Monaco, Menlo, Consolas, monospace
font-icon = FontAwesome
font-size = 16px
line-height = 1.5rem

// Header
logo-size = 60px
subtitle-size = 24px
header-height = 60px
cover-height = 500px

// Footer
footer-height = 150px

// Card
main-background-color = #f2f7f5
card-background-color = #fffffe
card-title-color = #00473e
card-text-color = #475d5b
card-highlight-color = #faae2b
card-date-color = #d8779a

// Code
// https://github.com/chriskempson/tomorrow-theme
code-background-color = #f9f2f4
code-text-color = #fa5246
highlight-background = #2d2d2d
highlight-current-line = #393939
highlight-selection = #515151
highlight-foreground = #cccccc
highlight-comment = #999999
highlight-red = #f2777a
highlight-orange = #f99157
highlight-yellow = #ffcc66
highlight-green = #99cc99
highlight-aqua = #66cccc
highlight-blue = #6699cc
highlight-purple = #cc99cc
highlight-linenumber = #666

// Link
link-color = #a1afc9

// Layout
block-margin = 50px
article-padding = 20px

// Mobile nav
mobile-nav-background-color = #00473e
mobile-nav-color = #fffffe
mobile-nav-width = 160px

// Media queries
mq-mobile = "screen and (max-width: 480px)"
mq-tablet = "screen and (min-width: 481px) and (max-width: 768px)"
mq-normal = "screen and (min-width: 769px)"
mq-nonmobile = "screen and (min-width: 481px)"
mq-small = "screen and (max-width: 768px)"

// Profile
profile-height = 420px
profile-avatar-color = #00473e
profile-location-color = #475d5b
profile-balloon-size = 4px
profile-balloon-time = 10s
profile-balloon-ease-out = cubic-bezier(0.470, 0, 0.745, 0.715)
profile-balloon-color-a = #8f5a9f
profile-balloon-color-b = #ffb200
profile-balloon-color-c = #9fc53a

// Tag
sidebar-tag-colors = (#f6672e #009bd4 #9fc53a #ffb200 #8f5a9f #4ec9be #3a537c)
