@import "nib"
@import "_variables"
@import "_utils/mixin"
@import "_utils/grid"

global-reset()

@font-face
  font-family: font-icon
  font-weight: normal
  font-style : normal
  src: url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.eot?v=4.7.0")
  src: url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.eot?#iefix&v=4.7.0") format("embedded-opentype"),
    url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.woff2?v=4.7.0") format("woff2"),
    url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.woff?v=4.7.0") format("woff"),
    url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.ttf?v=4.7.0") format("truetype"),
    url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular") format("svg")

html, body, #container
  height: 100%

body
  background: main-background-color
  font: font-size font-sans
  -webkit-text-size-adjust: 100%

#container
  position: relative

.mobile-nav-on
  overflow: hidden

#wrap
  height: 100%
  width: 100%
  position: absolute
  top: 0
  left: 0
  transition: 0.2s ease-out
  z-index: 1
  background: main-background-color
  .mobile-nav-on &
    left: mobile-nav-width

@import "_extend"
@import "_layout"
@import "_commons/header"
@import "_commons/cover"
@import "_commons/article"
@import "_commons/pagination"
@import "_commons/highlight"
@import "_commons/footer"
@import "_commons/mobile-nav"
@import "_commons/post/tag"
@import "_commons/post/more"
@import "_commons/post/copyright"
@import "_commons/post/share"
@import "_commons/sidebar/like"
@import "_commons/sidebar/toc"
@import "_commons/sidebar/tag"
@import "_commons/sidebar/profile"
@import "_commons/sidebar/sidebar-left"
@import "_commons/sidebar/sidebar-right"
@import "_commons/archive/archive-post"
@import "_commons/category/category-list"
@import "_includes/gitalk"
