<div id="cover">
  <div id="banner" data-banners="<%= theme.banner.join(';') %>"></div>
  <div id="header-title">
    <h1 id="logo"><%= config.title %></h1>
    <% if (config.subtitle){ %>
      <h2 id="subtitle"><%= config.subtitle %></h2>
    <% } %>
  </div>
</div>
