<footer id="footer">
  <p>Copyright &copy; <%= date(new Date(), 'YYYY') %> <%= config.title || config.author %></p>
  <p>Powered by <a href="https://hexo.io/" target="_blank">Hexo</a> • Theme <a
                href="https://github.com/DukeLuo/hexo-theme-candelas" target="_blank">Candelas</a></p>
</footer>
