#copyright {
  padding-bottom: 1rem;
  text-align: center;
}
#copyright p {
  color: copyright-color;
}
#copyright p:first-child:before {
  font-family: font-icon;
  content: "\f0c1";
  margin-right: 10px;
}
#copyright a {
  color: copyright-color;
}
#copyright a:hover {
  text-decoration: underline;
}
