#post-like .container {
  padding: 12px 16px;
  margin: 0 24px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#post-like .like-icon:before {
  font-family: font-icon;
  content: "\f087";
  font-size: 2rem;
  color: link-color;
}
#post-like .like-icon:hover {
  cursor: pointer;
  opacity: 0.8;
}
#post-like #like-count {
  font-size: 1.2rem;
  color: card-text-color;
  font-weight: lighter;
}
