#article-nav {
  position: relative;
}
@media mq-normal {
  #article-nav {
    margin: block-margin 0;
  }
  #article-nav:before {
    content: "";
    border-radius: 50%;
    background: grey-color;
    box-shadow: 0 1px 2px #fff;
  }
}
.article-nav-link-wrap {
  text-decoration: none;
  text-shadow: 0 1px #fff;
  color: color-grey;
  box-sizing: border-box;
  margin-top: block-margin;
  text-align: center;
  display: block;
}
.article-nav-link-wrap:hover {
  color: color-default;
}
@media mq-normal {
  .article-nav-link-wrap {
    width: 50%;
    margin-top: 0;
  }
}
@media mq-normal {
  #article-nav-newer {
    float: left;
    text-align: right;
    padding-right: 20px;
  }
}
@media mq-normal {
  #article-nav-older {
    float: right;
    text-align: left;
    padding-left: 20px;
  }
}
.article-nav-caption {
  text-transform: uppercase;
  letter-spacing: 2px;
  color: grey-color;
  line-height: 1em;
  font-weight: bold;
}
#article-nav-newer .article-nav-caption {
  margin-right: -2px;
}
.article-nav-title {
  font-size: 0.85em;
  line-height: line-height;
  margin-top: 0.5em;
}
