#article-nav h4 {
  font-size: 1.2rem;
}
@media mq-normal {
  #article-nav {
    margin: block-margin 0;
  }
}
.article-nav-link-wrap {
  display: block;
  box-sizing: border-box;
  margin-top: block-margin;
  padding: 0 12px;
  text-align: center;
  text-decoration: none;
}
@media mq-normal {
  .article-nav-link-wrap {
    width: 50%;
    margin-top: 0;
  }
  .article-nav-link-wrap:last-child {
    border-left: 1px dashed color-grey;
  }
}
@media mq-normal {
  #article-nav-newer {
    float: left;
  }
}
@media mq-normal {
  #article-nav-older {
    float: right;
  }
}
.article-nav-caption {
  text-transform: uppercase;
  letter-spacing: 1px;
}
.article-nav-title {
  color: color-grey;
  margin-top: 0.5rem;
}
.article-nav-title:hover {
  text-decoration: underline;
}
