.tag-list {
  color: card-background-color;
}
.tag-list .tag-list-link {
  color: card-background-color;
}
.tag-list .tag-list-link:hover {
  cursor: pointer;
  text-decoration: none;
}
.tag-list-item {
  margin: 2px;
  padding: 8px 18px;
  float: left;
  font-weight: 200;
  font-size: 0.9rem;
  line-height: 0.9rem;
  opacity: 0.85;
  transition: opacity 0.1s ease-out, padding 0.1s ease-out;
}
.tag-list-item:hover {
  opacity: 1;
  padding: 8px 20px;
}
.tag-list-item:hover .tag-list-count {
  opacity: 1;
  width: auto;
  margin-left: 6px;
}
.tag-list-count {
  display: inline-block;
  width: 0;
  height: 0.9rem;
  vertical-align: middle;
  overflow: hidden;
  font-size: 0.6rem;
  font-weight: bold;
  line-height: 0.9rem;
  opacity: 0;
  transition: opacity 0.1s ease-out, margin-left 0.1s ease-out;
}
.tag-list-count:before {
  content: " [";
}
.tag-list-count:after {
  content: "]";
}
.tag-list-item:nth-child(1) {
  background-color: #f6672e;
}
.tag-list-item:nth-child(2) {
  background-color: #8f5a9f;
}
.tag-list-item:nth-child(3) {
  background-color: #4ec9be;
}
.tag-list-item:nth-child(4) {
  background-color: #4ec9be;
}
.tag-list-item:nth-child(5) {
  background-color: #f6672e;
}
.tag-list-item:nth-child(6) {
  background-color: #8f5a9f;
}
.tag-list-item:nth-child(7) {
  background-color: #9fc53a;
}
.tag-list-item:nth-child(8) {
  background-color: #3a537c;
}
.tag-list-item:nth-child(9) {
  background-color: #ffb200;
}
.tag-list-item:nth-child(10) {
  background-color: #4ec9be;
}
.tag-list-item:nth-child(11) {
  background-color: #009bd4;
}
.tag-list-item:nth-child(12) {
  background-color: #009bd4;
}
.tag-list-item:nth-child(13) {
  background-color: #ffb200;
}
.tag-list-item:nth-child(14) {
  background-color: #f6672e;
}
.tag-list-item:nth-child(15) {
  background-color: #f6672e;
}
.tag-list-item:nth-child(16) {
  background-color: #ffb200;
}
.tag-list-item:nth-child(17) {
  background-color: #ffb200;
}
.tag-list-item:nth-child(18) {
  background-color: #3a537c;
}
.tag-list-item:nth-child(19) {
  background-color: #009bd4;
}
.tag-list-item:nth-child(20) {
  background-color: #8f5a9f;
}
.tag-list-item:nth-child(21) {
  background-color: #f6672e;
}
.tag-list-item:nth-child(22) {
  background-color: #8f5a9f;
}
.tag-list-item:nth-child(23) {
  background-color: #009bd4;
}
.tag-list-item:nth-child(24) {
  background-color: #f6672e;
}
.tag-list-item:nth-child(25) {
  background-color: #009bd4;
}
.tag-list-item:nth-child(26) {
  background-color: #9fc53a;
}
.tag-list-item:nth-child(27) {
  background-color: #9fc53a;
}
.tag-list-item:nth-child(28) {
  background-color: #9fc53a;
}
.tag-list-item:nth-child(29) {
  background-color: #009bd4;
}
.tag-list-item:nth-child(30) {
  background-color: #3a537c;
}
.tag-list-item:nth-child(31) {
  background-color: #f6672e;
}
.tag-list-item:nth-child(32) {
  background-color: #3a537c;
}
.tag-list-item:nth-child(33) {
  background-color: #3a537c;
}
.tag-list-item:nth-child(34) {
  background-color: #8f5a9f;
}
.tag-list-item:nth-child(35) {
  background-color: #ffb200;
}
.tag-list-item:nth-child(36) {
  background-color: #f6672e;
}
.tag-list-item:nth-child(37) {
  background-color: #f6672e;
}
.tag-list-item:nth-child(38) {
  background-color: #9fc53a;
}
.tag-list-item:nth-child(39) {
  background-color: #3a537c;
}
.tag-list-item:nth-child(40) {
  background-color: #4ec9be;
}
.tag-list-item:nth-child(41) {
  background-color: #8f5a9f;
}
.tag-list-item:nth-child(42) {
  background-color: #f6672e;
}
