<footer id="footer">
    <% if (theme.sidebar === 'bottom'){ %>
        <%- partial('_partial/sidebar') %>
    <% } %>
    <div class="outer">
        <div id="footer-info" class="inner">
            <p>Copyright &copy; <%= date(new Date(), 'YYYY') %> <%= config.title || config.author %></p>
            <p>Powered by <a href="https://hexo.io/" target="_blank">Hexo</a> • Theme <a
                        href="https://github.com/DukeLuo/hexo-theme-candelas" target="_blank">Candelas</a></p>
        </div>
        <script>
            console.log("%c 网络一线牵，珍惜这段缘！快来和我做朋友吧 (～￣▽￣)～ %c dukeluo.me", "color:red", "color:orange;font-weight:bold")
            console.log("\n %c Candelas " + "v0.0.1" + " %c https://github.com/DukeLuo/hexo-theme-candelas \n\n", "color:  #fff100; background-image: linear-gradient(90deg, rgb(47, 172, 178) 0%, rgb(0, 74, 128) 100%); padding:5px 1px;", "background-image: linear-gradient(90deg, rgb(0, 74, 128) 0%, rgb(255, 255, 255) 100%); padding:5px 0;");
            console.log("%c ", "background: url(https://s1.ax1x.com/2020/04/01/Glgqz9.jpg) no-repeat center;padding-left:241px;padding-bottom: 241px;")
        </script>
    </div>
</footer>
