#copyright
  padding-bottom: 1rem
  text-align: center

  p
    color: color-grey

    &:first-child:before
      font-family: font-icon
      content: "\f0c1"
      margin-right: 10px

  a
    color: color-grey
    &:hover
      text-decoration: underline
