.article-share-links
  a
    color: color-grey

  @media mq-normal
    float: right
    display: inline-block
    margin-top: 4px

  @media mq-small
    margin-top: 16px

$article-share-link
  display: inline-block
  &:before
    font-size: 1.5rem
    font-family: font-icon

  @media mq-normal
    margin-left: 1.6rem

  @media mq-small
    margin-right: 1.6rem

.article-share-twitter
  @extend $article-share-link
  &:before
    content: "\f099"
  &:hover
    color: color-twitter

.article-share-facebook
  @extend $article-share-link
  &:before
    content: "\f09a"
  &:hover
    color: color-facebook

.article-share-pinterest
  @extend $article-share-link
  &:before
    content: "\f0d2"
  &:hover
    color: color-pinterest

.article-share-linkedin
  @extend $article-share-link
  &:before
    content: "\f0e1"
  &:hover
    color: color-linkedin
