#banner
  width: 100%
  height: banner-height
  background-position: center center
  background-repeat: no-repeat
  background-color: main-background-color
  background-size: cover
  z-index: -1

#header-title
  text-align: center
  position: absolute
  top: 50%
  left: 0
  margin-top: logo-size * -0.5

$logo-text
  color: card-background-color
  font-weight: 600
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.3)

#logo
  @extend $logo-text
  font-size: logo-size
  line-height: logo-size
  letter-spacing: 2px

#subtitle
  @extend $logo-text
  font-size: subtitle-size
  line-height: subtitle-size * 1.1
  letter-spacing: 1px
  margin-top: 10px
