#footer
  margin-top: 20px
  background: darken(main-background-color, 2%)
  padding: 50px 0

  a
    color: card-highlight-color
    text-decoration: none

    &:hover
      text-decoration: underline

#footer-info
  line-height: line-height
  font-size: 0.9rem
  text-align: center
